@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}

body {
  @apply bg-white text-site-gray-light;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.75;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}
